/* https://colorhunt.co/palette/220248 */

.fondo-cabecera {
  background: #30475e;
}

.fondo-navbar{
  background-color: #222831;
}

.fondo-edu {
  background-color: white;
}

.imgRolling {
  width: 100%;
  height: 100%;
}

.divEDU {
  width: 100%;
  height: 150px;
  padding: 8px 48px;
}

.imgUTN {
  width: 100%;
  height: 100%;
}

.foto {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.p-cabecera{
  padding: 75px 0 25px 0;
}

.carta {
  border: 2px groove rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.cuerpo-carta{
    min-height:1px;
    padding:1.25rem
}

.tamaño{
  width: 100%;
}

.tamCardEdu {
  height: 200px;
}

.boton {
  background-color: #30475e;
}

.icono{
  color: #f05454;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fredoka One', cursive;
}

body{
  font-family: 'Patrick Hand', cursive;
  
}

html{
  scroll-behavior: smooth;
}

.espacio {
  margin: 0 150px;
  font-size: 25px;
}

.ajuste-titulo {
}

.ajuste-subtitulo {
}

@media (max-width: 990px) {
  .espacio {
    margin: 0 50px;
    font-size: 20px;
  }

  .ajuste-titulo {
    margin: 0 0 4px 0;
  }

  .ajuste-subtitulo {
    margin: 0;
  }

  .divEDU {
    padding: 12px 0;
  }
}

@media (max-width: 768px) {
  .ajuste-titulo {
    margin: 0 0 12px 0;
  }

  .ajuste-subtitulo {
    margin: 0 0 16px 0;
  }

  .divEDU {
    padding: 12px 30px;
  }
}

@media (max-width: 420px) {
  .espacio {
    margin: 0;
    font-size: 15px;
  }

  .divEDU {
    padding: 12px 0;
  }
}