.fondo {
  background: #5267d0;
}

.foto {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.carta {
  border: 2px groove rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.cuerpo-carta{
    min-height:1px;
    padding:1.25rem
}

.tamaño{
  width: 479px;
}